* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #0a183d;
    height: 100vh;
    font-family: 'Open Sans';
}

h2 {
    font-size: 6rem;
    color: #fff;
}

h4 {
    font-size: 2.6rem;
    color: #fff;
}

p {
    font-size: 1.6rem;
    color: #c1c1c1;
    line-height: 1.8;
}

h2.dark,
h4.dark,
p.dark {
    color: #0a183d;
}

button {
    padding: 2.2rem 4.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.4rem;
    border: 0;
    cursor: pointer;
}

.common-layout {
    padding: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

}

.white-bg {
    background: #fff;
}

.red-clr {
    color: #fe0058;
}

.red-btn {
    background-color: #fe0058;
}

.blue-btn {
    background-color: rgb(53, 53, 149);
}

.flex-basic {
    flex-basis: 40%;
}

nav {
    background-color: #08192d;
    padding: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    /* gap: 3rem; */

}

nav ul li a,
span {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    /* margin-right: 6rem; */
}

nav ul li a {
    margin-right: 6rem;
}

.navbar-right {
    display: flex;
    gap: 2rem;
}

.fa-solid.fa-bars {
    font-size: 2.5rem;
    color: #fff;
    display: none;
}

.navbar-mobile,
.logo-mobile {
    display: none;
}

.section-1 {
    margin-top: 7rem;
}

.section-1 h1 {
    font-size: 1.2rem;
    color: #fff;
}

.section-1 h1,
.section-1 h1 span {
    font-size: 7rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-1-buttons {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
}

.section-2 {
    align-items: start;
}

.section-2-left {
    width: 50%;
    font-size: 2rem;
}

.section-2-right button {
    margin-top: 2.5rem;
}

.section-3 {
    background-image: url(./img/Music-bg.webp);
    background-size: cover;
    max-width: 125rem;
    width: 100%;
    margin: auto;
    justify-content: start;

}

.section-3 h2 {
    margin-bottom: 6rem;
}

.section-3-box-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 6rem;
}

.section-3-box-div h4 {
    margin: 2.5rem 0;
}

.section-3-box {
    position: relative;
    z-index: 0;
}

.section-3-box img {
    max-width: 100%;
    position: relative;
    left: 10px;
    top: 5px;

}

.section-3-box::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    width: 55px;
    height: 55px;
    background-color: #fe0058;
    border-radius: 100%;

}

.section-4-div-1,
.section-6-div-1 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    flex-wrap: wrap;
}

.section-4 h2 {
    line-height: 1.2;
}

.section-4-photo-div,
.section-6-photo-div {
    padding: 5rem 0;
    display: grid;
    /* max-width: 500rem; */
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;

}

.img-div figure img {
    max-width: 100%;
    border-radius: 30px;
    display: block;
    margin: auto;
}

.img-div figure figcaption {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.8rem;
    font-weight: bolder;
}

.section-5 {
    gap: 7rem;
}

.section-5-left h2:nth-child(2) {
    margin-bottom: 1.5rem;
}

.section-5-left h4 {
    margin-bottom: 2rem;
}

.section-5-right {
    padding: 5rem;
    background-color: #1c294a;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
}

.section-5-right img {
    margin-right: 3rem;
}

.section-5-right p {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.section-5-right p:last-child {
    margin-bottom: 0;
}

.section-5-left p {
    margin-bottom: 2rem;
}

.section-6 figcaption p {
    font-weight: normal;
}

.section-6-photo-div .img-div figure img {
    max-width: 100%;
    border-radius: 100%;
}

footer {
    justify-content: space-evenly !important;
    align-items: start;
}

footer h5 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

footer p {
    font-size: 14px;
    margin-bottom: 1rem;
}

footer i {
    color: #ffff;
    font-size: 2rem;
    margin-right: 2rem;
}

.copyright-p {
    font-size: 1.2rem;
    margin: 1rem 0 4rem;
}

@media screen and (max-width:991px) {
    .flex-basic {
        flex-basis: 100%;
    }

    nav {
        padding: 2rem;
    }

    .navbar-right,
    .navbar-left {
        display: none;
    }

    .logo-mobile,
    .fa-solid.fa-bars {
        display: inline-block;
    }

    .fa-solid.fa-bars {
        position: absolute;
        right: 0;
    }

    .fa-solid.fa-bars:hover+.navbar-mobile {
        display: block;
        cursor: pointer;
    }

    .navbar-mobile {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #08192d;
        width: 100%;
        padding: 2rem 4rem 1rem 2rem;
    }

    .navbar-mobile ul {
        flex-direction: column;
    }

    .navbar-mobile ul li {
        margin-bottom: 1rem;
    }

    .navbar-mobile ul li a {
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .flex-basic {
        flex-basis: 90%;
    }

    h2 {
        font-size: 2rem;
    }

    .common-layout {
        padding: 4rem 3rem;
    }

    .section-1 h1,
    .section-1 h1 span {
        font-size: 5rem;
    }

    .section-1 img {
        width: 100%;
        margin-bottom: 4rem;
    }

    .section-1-buttons {
        flex-direction: column;
    }

    .section-3 {
        width: 90%;
    }

    .section-3 h2 {
        margin: 2rem 0;
    }

    .section-4-photo-div,
    .section-6-photo-div {
        padding: 2rem 0;
    }

    .section-5 {
        gap: 5rem;
    }

    .section-5-right {
        padding: 1rem;
    }

    footer.common-layout {
        flex-direction: column;
    }

    .footer-div {
        margin-left: 1rem;
    }

}